<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/course.css">
    <title>Courses</title>
    <style>
        #customAlertMessage {
            display: none;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            width: 80%;
            max-width: 600px;
        }
    </style>

    <%- include("partials/header.ejs") %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>



<body>
    <div class="container">
        <div id="customAlertMessage" class="alert" role="alert">
            <!-- Alert message will be injected here -->
        </div>
        <% if (courses && courses.length> 0) { %>
            <h1 class="heading">Courses</h1>
            <ul class="course-list">
                <% courses.forEach((course, index)=> { %>
                    <li class="course-item"
                        style="background-image: url('/uploads/<%= course.image %>'); background-size: cover;">
                        <div class="course-details">
                            <a href="#" class="open-modal-btn" data-toggle="modal"
                                data-target="#exampleModal<%= index %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#008000"
                                    class="bi i-icon bi-info-circle" style="margin-bottom: 10px;" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16">
                                    </path>
                                    <path
                                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0">
                                    </path>
                                </svg>
                            </a>
                            <h2>
                                <%= course.name %>
                            </h2>
                            <p>Instructor: <%= course.instructor %>
                            </p>
                            <% if (username===course.instructor) { %>
                                <button type="submit" class="enroll-button" disabled
                                    style="background-color: #928e8e; cursor: not-allowed; margin-left: 240px">Enroll</button>
                                <% } else { %>
                                    <form id="enrollment-form-<%= index %>" action="/enrollments/enroll" method="POST"
                                        class="enroll-form">
                                        <input type="hidden" name="course_id" value="<%= course.course_id %>">
                                        <button type="submit" class="enroll-button">Enroll</button>
                                    </form>
                                    <% } %>
                        </div>
                    </li>
                    <div class="modal fade" id="exampleModal<%= index %>" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Information:</h5>
                                    <button type="button" class="close" data-dismiss="modal" style="margin-left: 70%;"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-form-label">Description:</label>
                                        <label class="form-control" readonly>
                                            <%= course.description %>
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <% if (username===course.instructor) { %>
                                        <button type="submit" class="enroll-button" disabled
                                            style="background-color: #928e8e; cursor: not-allowed; margin-left: 240px">Enroll
                                            Now</button>
                                        <% } else { %>
                                            <form id="enrollment-modal-form-<%= index %>" action="/enrollments/enroll"
                                                method="POST" class="enroll-form">
                                                <input type="hidden" name="course_id" value="<%= course.course_id %>">
                                                <button type="submit" class="enroll-button">Enroll Now</button>
                                            </form>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </ul>
            <% } else { %>
                <h3 class="no-courses">No courses available.<br> You can add your course now! <br> By clicking add
                    course in the menu ⬅️⬅️!</h3>
                <% } %>
    </div>

    <%- include("partials/footer.ejs") %>

        <script>
            $(document).ready(function () {
                $('.enroll-form').submit(function (event) {
                    event.preventDefault();
                    const form = $(this);
                    const actionUrl = form.attr('action');
                    const formData = form.serialize();

                    $.post(actionUrl, formData, function (response) {
                        $('#customAlertMessage').removeClass('alert-danger').addClass('alert-success').text(response).show();
                        setTimeout(function () {
                            $('#customAlertMessage').hide();
                            location.reload();
                        }, 4000); // Reload the page after 2 seconds
                    }).fail(function (xhr) {
                        $('#customAlertMessage').removeClass('alert-success').addClass('alert-danger').text(xhr.responseText).show();
                        setTimeout(function () {
                            $('#customAlertMessage').hide();

                        }, 4000); // Reload the page after 2 seconds
                    });
                });
            });
        </script>
</body>

</html>